In [1]:
!pip install simpledorff

Collecting simpledorff
  Downloading simpledorff-0.0.2-py3-none-any.whl (5.6 kB)
Installing collected packages: simpledorff
Successfully installed simpledorff-0.0.2

In [62]:
import simpledorff
import pandas as pd
Data = pd.read_csv('./svm_annotations.csv') #Load Your Dataframe
Data.head()

       tweet_id annotator_1 annotator_2 annotator_3 final_annotation
0  1.400000e+18           1         NaN           1                1
1  1.370000e+18           1         NaN           0                0
2  1.400000e+18           0         NaN           0                0
3  1.420000e+18           1         NaN           1                1
4  1.420000e+18           1         NaN           1                1

In [63]:
new_df = pd.DataFrame(columns = ['tweet_id', 'annotator_id', 'annotation'])

In [64]:
for i in range(0, Data.shape[0]):
    t_id = Data.iloc[i]['tweet_id']
    for j in range(0, 3):
        l = []
        #print(t_id)
        l.append(t_id)
        l.append(j+1)
        l.append(Data.iloc[i]['annotator_'+str(j+1)])
        new_df = new_df.append(pd.DataFrame(data = [l], columns = ['tweet_id', 'annotator_id', 'annotation']), ignore_index = True)

In [65]:
new_df

         tweet_id annotator_id annotation
0    1.400000e+18            1          1
1    1.400000e+18            2        NaN
2    1.400000e+18            3          1
3    1.370000e+18            1          1
4    1.370000e+18            2        NaN
..            ...          ...        ...
445  1.430000e+18            2          0
446  1.430000e+18            3          0
447  1.430000e+18            1        NaN
448  1.430000e+18            2          X
449  1.430000e+18            3          X

[450 rows x 3 columns]

In [66]:
simpledorff.calculate_krippendorffs_alpha_for_df(new_df,experiment_col='tweet_id',
                                                 annotator_col='annotator_id',
                                                 class_col='annotation')

0.6517857142857143

In [70]:
a1_a2_agreement = Data[Data['annotator_1'] == Data['annotator_2']].shape[0]/50

a1_a3_agreement = Data[Data['annotator_1'] == Data['annotator_3']].shape[0]/50

a2_a3_agreement = Data[Data['annotator_2'] == Data['annotator_3']].shape[0]/50

In [73]:
a1_a2_agreement

0.58

In [74]:
a1_a3_agreement

0.78

In [75]:
a2_a3_agreement

0.96

In [76]:
avg_agreement = (a1_a2_agreement + a2_a3_agreement + a1_a3_agreement)/3

In [77]:
avg_agreement

0.7733333333333334